h1,
p {
  font-family: consolas;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
